* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Lora', serif;
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 0, 255);
    background: radial-gradient(
      circle,
      rgba(218, 112, 214) 0%,
      rgba(238, 130, 238) 35%,
      rgba(221, 160, 221) 100%
    );
  }
  
  .weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
  }
  
  #location {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
  }
  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
  }
  
  .circle {
    background-color: black;
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin: 0 15px;
  }
  
  .coordinates input {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
  }
  
  .coordinates button {
    margin: 10px;
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .widget {
    border: 1px solid #ccc;
    margin: 100px;
    padding: 100px;
    width: 900px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: translate3d(0, 0, 0);
    overflow: auto;
}

.map {
  height: 300px; /* или любая другая высота, которую вы хотите установить для карты */
  width: 100%;
}
